---
---
@import url('https://fonts.googleapis.com/css?family=Farsan|Open+Sans|Cutive+Mono');
@import url(//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css);

$text-font: 'Open+Sans', sans-serif;
$titling-font:  'Farsan', cursive;
$mono-font: 'Cutive Mono', monospace;
$hebrew-font: "Mazon Hebrew", serif;
$name-size: 150px;
$name-size-mobile: 60px;
$heading-sizes: 60px, 45px, 30px, 26px, 22px, 18px;
$text-size: #{18px/24px}; // interpolation prevents division.
$mobile-heading-sizes: 55px, 48px, 28px, 24px, 20px, 18px;
$sm-width: 50%;
$sm-pad: 10%;
$sm-width-mobile: 80%;
$sm-pad-mobile: 5%;
$lg-width: 80%;
$nav-height:  50px;
$par-line-length: 77ex;



$navborder: 0px;
$mobile-navborder: $navborder / 2;

/* make color variables from info in _config.yml*/
{% for color in site.colors %}
    ${{ color[0] }}: {{ color[1] }};
{% endfor %}


$color1: $gray;
$color1text: $white;
$color2: $teal;
$color2text: $white;
$color3: $purple;
$color3text: $white;

.accent1 {
    background-color: $color1 !important; color: $color1text;
    a { color: $color1text; }
    h2, h3, h4, h5, h6 { color: $color1text; }
    h1 {color:$color1}
    hr { border-color: $color1text; }
    blockquote { border-left-color: $color1text; }
}
.accent3 {
    background-color: $color3 !important; color: $color3text;
    a { color: $color3text; }
    h2, h3, h4, h5, h6 { color: $color3text; }
    h1 {color:$color3}
    hr { border-color: $color3text; }
    blockquote { border-left-color: $color3text; }
}
.accent2 {
    background-color: $color2 !important; color: $color2text;
    a { color: $color2text; }
    h2, h3, h4, h5, h6 { color: $color2text; }
    h1 {color:$color2}
    hr { border-color: $color2text; }
    blockquote { border-left-color: $color2text; }
}


@function make-fontsize-list($sizehints) {
    @if type-of($sizehints) == number {
        // ideally, make some sort of educated guess.
    } @else if type-of($sizehints) == list and length($sizehints) == 6 {
        @return $sizehints;
    }
}


@mixin fontsizes($sizehints) {
    @each $i, $size in zip((1, 2, 3, 4, 5, 6), make-fontsize-list($sizehints)) {
        h#{$i} {
            font-size: $size;
            line-height: 115%;
        }
    }
}

/*
letter-spacing: $size/100*8; // i.e., 8%*/

//@import "reset";
//@import "grid";

@import "menus";
@import "styles";
@import "forms";
