---
layout: default
social: social
permalink: bio/
---

<!--- display full text of featured bio(s) --->
{% for bioseg in site.bio reversed %}
  {%if bioseg.feature %}
  <section>
    <article>
    {{bioseg.content}}
    </article>
    <aside class="article-foot">
      <p> about:  </p>
      <p > {{ bioseg.content | number_of_words }} words </p>
      <p >  {{ bioseg.date | date: "%-m/%-d/%y"}} </p>
    </aside>
  </section>
  {% endif %}
{%endfor %}

<!--- display info only and allow expansion of others --->
<section>
  <h1>Additional Bios</h1>
  {% for bioseg in site.bio reversed %}
    {%unless bioseg.feature %}
      <article>
      {{bioseg.output}}
      </article>
    {% endunless %}
  {%endfor %}
</section>
