---
layout: main
---

{% assign acadsections = site.academic | sort: 'pageloc' %}
{% for acad in acadsections %}

<section class="{% cycle 'accent1', 'accent2', 'accent3'  %} front" >
  <h1> {{acad.display}} </h1>

  <article class="">
    {{ acad.content| markdownify}}

  </article>

  <aside class="extra">
    {% if acad.news %}
    <h2><a href="{{site.baseurl}}/category/{{acad.news}}">News:</a></h2>
    <ul>
      {% for post in site.categories[acad.news] limit:3 %}
      <li><a href="{{ post.url | absolute_url }}">
        {% if post.headline %}
          {{post.headline}}
        {%else%}
          {{ post.title }}
        {%endif%}
      </a></li>
      {%endfor%}
    </ul>
    {% endif %}

    {% if acad.itemdata %}
      <h2>
       <a href="{{site.baseurl}}{{acad.id}}">more </a>
     </h2>
    {% endif %}


  </aside>


</section>
{% endfor %}
