---
layout: default
---

{% assign acadsections = site.academic | sort: 'pageloc' %}
{% for acad in acadsections %}

<section class="" >

  {% if acad.profile %}
  <header class="post-header">
    <h1 class="post-title">{{ acad.title }}</h1>
    <h5 class="post-description">{{ acad.description }}</h5>
  </header>
  <article class="">
    <div class="profile col one {{ acad.profile.align }}">
      {% if acad.profile.image %}
        <img class="one" src="{{ acad.profile.image | prepend: '/assets/img/' | prepend: site.baseurl | prepend: site.url }}">
      {% endif %}
      {% if acad.profile.address %}
        <div class="address">
          {{ acad.profile.address }}
        </div>
      {% endif %}
    </div>

      {{ acad.content| markdownify}}

    </article>
  {% else %}


  <h2> {{acad.display}} </h2>

  <article class="">
    {{ acad.content| markdownify}}

  </article>

  <aside class="news">
    {% if acad.news %}
    <h3><a href="{{site.baseurl}}/category/{{acad.news}}">News:</a></h3>
    <ul>
      {% for post in site.news reversed limit:5 %}
      <li><a href="{{ post.url | absolute_url }}">
        {% if post.headline %}
          {{post.headline}}
        {%else%}
          {{ post.title }}
        {%endif%}
      </a></li>
      {%endfor%}
    </ul>
    {% endif %}

    {% if acad.itemdata %}
      <h4>
       <a href="{{site.baseurl}}{{acad.id}}">more </a>
     </h4>
    {% endif %}


  </aside>

{% endif %}
</section>
{% endfor %}
