---
layout: main
---

{% assign acadsections = site.academic | sort: 'pageloc' %}
{% for acad in acadsections %}

<section class="front" >
  <h1> {{acad.display}} </h1>

  <article class="{% cycle 'accent1', 'accent2', 'accent3'  %}">
    {{ acad.content| markdownify}}

    {% if acad.itemdata %}
      <hr>
      <p class="extra">
       <a href="{{site.baseurl}}{{acad.id}}">all</a>
      </p>
    {% endif %}

    {% if acad.news %}
    <h3><a href="{{site.baseurl}}/category/{{acad.news}}">News:</a></h3>
    <ul>
      {% for post in site.categories[acad.news] limit:3 %}
      </li><a href="{{ post.url | absolute_url }}">
        {% if post.headline %}
          {{post.headline}}
        {%else%}
          {{ post.title }}
        {%endif%}
      </a></li>
      {%endfor%}
    </ul>
    {% endif %}
  </article>


</section>
{% endfor %}
