---
layout: default
---

{% assign acadsections = site.academic | sort: 'pageloc' %}
{% for acad in acadsections %}

<section class="{% cycle 'accent1', 'accent2'  %} front" >
  <h2> {{acad.display}} </h2>

  <article class="">
    {{ acad.content| markdownify}}

  </article>

  <aside class="extra">
    {% if acad.news %}
    <h3><a href="{{site.baseurl}}/category/{{acad.news}}">News:</a></h3>
    <ul>
      {% for post in site.news reversed limit:5 %}
      <li><a href="{{ post.url | absolute_url }}">
        {% if post.headline %}
          {{post.headline}}
        {%else%}
          {{ post.title }}
        {%endif%}
      </a></li>
      {%endfor%}
    </ul>
    {% endif %}

    {% if acad.itemdata %}
      <b>
       <a href="{{site.baseurl}}{{acad.id}}">more </a>
     </b>
    {% endif %}


  </aside>


</section>
{% endfor %}
