<!--- these paragraphs display inline-block --->

  {%if site.social.github %}
    <p>
    <a href="https://github.com/{{site.social.github}}">
      <i class="fab fa-github"></i>{{site.social.github}}
    </a>
    </p>
  {%endif%}

  {%if site.social.linkedin %}
    <p>
    <a href="https://linkedin.com/in/{{site.social.linkedin}}">
      <i class="fab fa-linkedin"></i>{{site.social.linkedin}}
    </a>
    </p>
  {%endif%}

  {%if site.social.twitter %}
    <p>
    <a href="https://twitter.com/{{site.social.twitter}}">
      <i class="fab fa-twitter"></i>{{site.social.twitter}}
    </a>
    </p>
  {%endif%}
