/*  Main navigation menu*/

$navborder-active: 2 * $navborder;


nav {
    font-size: 15px;
    font-weight: bold;
    width: 100%;
    position: sticky;
    z-index: 100;
    top: 0;
    left: 0;
    background: $white;
    text-transform: uppercase;
    ul {
        list-style: none;
        text-align: center;
        padding: 0;
        margin: 0;
        li {
            display: inline-block;
            border-top: $navborder solid;
            padding: $navborder 0;
            zoom: 1;
            line-height: normal;
            line-height: $nav-height;
            margin: 0px 30px;
            a, a:visited {
                display: block;
                color: $black;
                text-decoration: none;
            }
            a:hover { opacity: 1;
                      text-shadow: 0 0 4px transparentize($white, 0.8)}
        }
        li:hover, li.active {
            border-top-width: $navborder-active;
            padding-top: 0;
        }
    }
}

.sidenav{
  position:sticky;
  top:  $nav-height + $navborder-active;
  left: 0px;
  width:200px;
  float: left;
  ul{
    text-align: left;
    li{
      display:block;
      margin: 0px;
    }
  }
}
