
body {
    background: $white;
    font: $text-size $text-font;
    color: $black;
    letter-spacing: 2px;
    -webkit-font-smoothing: antialiased; // Fix for webkit rendering
    -webkit-text-size-adjust: 100%;
}

main.blog{
  margin-left:200px;
}

main.plain{
  margin: auto;
  p {
    display: inline-block;
    min-width: 30%;
  }
}

.landing {
    // padding-top: -0vh !important;
    //background: white;
    //background-size: cover;
    //min-height: 100vh;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    // margin:auto;
    width: fit-content;
    text-align: center !important;
}



html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }


img {
    max-width: 100%!important;
    height: auto;
    vertical-align: middle;
}

header{
  margin:auto;
  width: fit-content;
  text-align: center;
  h1{
    padding-top: 1ex;
    margin: 0 auto;
    font-size: $name-size;
    text-transform: capitalize;
    line-height: 80% !important;
    color: $teal;
  }
  a{
    color: inherit;
  }
  p {
    display: inline-block;
    width: 25%;
    padding-bottom: 1ex;
  }
  i{
    margin-right: .5ex;
  }
}



// header.plain::after{
//   width:fit-content;
// }

/* ----------- aside types ----------*/
.extra{
  padding: 50px 0px;
  display:inline-block;
  //width: 20%;
  text-transform: uppercase;
  text-align: right;
  height: inherit;
  li{
    padding:10px;
    display: block;
  }
  p {
    display: block;
  }
}

.article-foot{
  p{
    display: inline-block;
    width: 24%;
    text-align: center;
    text-transform: uppercase;
    font-size: 90%;
  }
}

.gallery{
  margin-left: 50%;
  width: fit-content;
  transform: translateX(-50%);
  p{
    display: flex;
    max-width: 75px !important;
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    padding-top: 30px;
    i {
        color: inherit;
        font-style: normal;
    }
  }
}

p.article-top{
  display: inline-block;
  width: 30%;
  text-align: right;
  text-transform: uppercase;
  font-size: 90%;
}

// p.article-foot:first-of-type{
//   text-align: left;
// }

.pagenote{
  text-transform: lowercase;
  font-style: italic;
}

#token{display:none}


.custom-control-input{
  opacity:0;
}


/* expansions for biography minis */
summary::-webkit-details-marker {
  display: none
}
details[open] i{
  display:none;
}

.inlineblock {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
}


// CSS bidi shim from
// http://www.w3.org/International/articles/inline-bidi-markup/#cssshim
[dir='ltr'], [dir='rtl'] {
    unicode-bidi: -webkit-isolate;
    unicode-bidi: -moz-isolate;
    unicode-bidi: -ms-isolate;
    unicode-bidi: isolate;
}
bdo[dir='ltr'], bdo[dir='rtl'] {
    unicode-bidi: bidi-override;
    unicode-bidi: -webkit-isolate-override;
    unicode-bidi: -moz-isolate-override;
    unicode-bidi: -ms-isolate-override;
    unicode-bidi: isolate-override;
}
[dir='rtl'] { font-family: $hebrew-font; }


@include fontsizes($heading-sizes);
h1, h2, h3, h4, h5, h6{
    font-family: $titling-font;
    text-transform: lowercase;
    letter-spacing: 0px;
    font-weight: 300;
    a { font-weight: inherit; }
}


em {
  font-style: italic;
}

strong { font-weight: 900;
  //font-size: 110%;
  letter-spacing: 3px; }

small { font-size: 80%; }

.close{
  letter-spacing:0px;
}

.note{
  //text-transform: none;
  text-align: justify;
  font-size: 80%;
}

p { margin: 0 0 20px 0;
    //padding: 0 10px;
    img { margin: 0; }
}

a, a:visited { text-decoration: none; outline: 0; }
a:hover, a:focus { }
p a, p a:visited { line-height: inherit; }


blockquote {
    // @include push(1);
    // @include pull(1);
    cite { display: block; font-size: 12px; color: #555;
        a, a:visited { color: #555 }
    }
    cite:before { content: "\2014 \0020"; }
    p { margin: auto;
       color: inherit;
       font-style: italic;
       display:block;
     width: fit-content;
     text-align: center;
   }
    em{
      font-size: 60%;
      a{

        font-weight: lighter;
      }
    }
}


hr {
    border-width: 1px 0 0;
    border-style: solid;
    clear: both;
    height: 0;
    margin-top: 5px;
    margin-bottom: 5px;

}


// List formatting
ul, ol {
    margin-bottom: 0px;
    margin-left: 0px;
    padding-left: 17px;
    + p { padding-top: 12px; }
}
ul ul, ul ol, ol ul, ol ol { padding-left: 17px; }
ul { list-style: none outside; }
ol { list-style: decimal outside;
    ol { list-style: lower-alpha outside;
        ol { list-style: lower-roman outside; }
    }
}
ul { list-style: circle outside;
    ul { list-style: disc outside;
        ul { list-style: square outside; }
    }
}


li { margin-left: inherit; padding-left: 5px; }





section { // defines a block of post material (including the divider).
    margin: auto;
    margin-top: 125px;
    position: relative;
    width: 80%;
    h1:first-of-type {//title
      font-size: 200%;
      text-transform: uppercase;
      //text-shadow: 1px 1px 0px $white;
      a {
        color:inherit;
      }
    }
    aside { // wraps marginalia.
      // @include column(1);
      display: inline-block;
      padding: 50px;
  }
}

/* Special sections */
.wide { // top of cllection & category pages
    margin:auto;
    width: 90%;
    article{
      margin:auto !important;
      width: 100%;
      p{
        width: inherit;
        text-align: justify;

      }
    }
}

.front { // for index page
    margin: 50px auto;
    width: 90%;
    article{
      padding: 100px 50px 50px 100px;
      display : inline-block;
      width: 60%;
    }
    aside{
      width: 30%;
      display : inline-block;
    }
    h1:first-of-type {// rotated title
      font-size: 300%;
      color: #FFF;
      position:absolute;
      left: 10px;
      text-transform: uppercase;
      text-align:center;
      transform: rotate(-90deg) translateX(-90%);
      transform-origin: 0% 0%;
    //   -webkit-transform: rotate(-90deg);
    // -moz-transform:    rotate(-90deg);
    // -ms-transform:     rotate(-90deg);
    // -o-transform:      rotate(-90deg);
    }
}


.right {
    margin-right:$sm-pad;
}

.left {
    margin-left: $sm-pad;
}

/* First section gets padding from menus */
// section:first-of-type {
//   margin-top:30px;
// }

/* Sticky titles for blog post sections*/
section.titled{
  h1{
    position: sticky;
    top: $nav-height + $navborder-active;
    background-color: $white;
    text-transform: capitalize;
    z-index: 1000;
  }
}

article { // wraps the actual content.
  // @include column(3);
  // @include push(1); // for some reason push needs to come after column
  // @include pull(1);
  padding: 50px 50px;
  margin: auto;
  word-wrap: break-word;
  width: $par-line-length;
  h1, h2, h3, h4, h5, h6 { // for markdown generated titles
      margin-top: 20px;
      text-align: center;
      padding: 0 0px;
      text-transform: uppercase;
  }
  p{
    text-align: justify;
  }
  hr{
    border: 0px;
    padding: 10px;
  }
  a{
    color:inherit;
    font-weight: bold;
  }
}



footer {
    width: 100%;
    // position: absolute;
    // bottom:0px;
    text-align: center;
    min-height: 0;
    background-image:none;
    font-family: $mono-font;
    p, p:first-of-type {
        font-size: 14px;
        margin: 0;
        color: $black;
        text-align: center;
    }
    a {
        color: $black;
    }
    h3{
      padding: 100px 0;
      text-align: center;
      color: black;
    }
}



// @media only screen and (max-width: 767px) {
//     section {
//         article {
//           width:100%;
//           display:block;
//           padding: 10px;
//         }
//
//         aside {
//             position: relative;
//             display:block;
//             width: inherit;
//             p, p:first-of-type { text-align: justify; }
//         }
//     }
//     header{
//       margin:auto;
//       width: fit-content;
//       h1{
//         font-size: $name-size-mobile;
//       }
//       p{
//         display: block;
//       }
//     }
// }


// @media screen and (max-width: 720px) {
//     @include fontsizes($mobile-heading-sizes);
//     hr {
//       margin-top: 30px;
//        margin-bottom: 30px; }
//     blockquote {
//         border-left: 0 none;
//         p { margin-left: 0; padding-left: 0 }
//     }
//     $mobile-navborder-active: 2 * $mobile-navborder;
//     nav {
//       z-index: 1000;
//         font-size: 14px;
//         ul {
//             li {
//                 min-width: 60px;
//                 line-height: 30px;
//                 border-top: $mobile-navborder solid;
//                 padding: $mobile-navborder 0;
//             }
//             li:hover, li.active { border-top-width: $mobile-navborder-active; }
//         }
//     }
//     .sidenav{
//       position:fixed;
//       bottom:0px;
//     }
//
//     .target{
//       height: 120px;
//     }
//
//     section{
//       margin-top:80px;
//       padding: 25px 0px;
//       h1:first-of-type {//title
//         position:absolute;
//         top: -35px;
//       }
//       article {
//         width:100% !important;
//         display:block;
//         padding: 100px 5% !important;
//         text-align: justify;
//         p{
//           width: inherit !important;
//         }
//       }
//       aside {
//           position: relative;
//           display:block;
//           width: inherit;
//           p, p:first-of-type { text-align: justify; }
//       }
//     }
//     .right {
//         margin-right:$sm-pad-mobile;
//         width: $sm-width-mobile;
//     }
//
//     .left {
//         margin-left: $sm-pad-mobile;
//         width: $sm-width-mobile;
//     }
//
//     header{
//       margin:auto;
//       width: fit-content;
//       h1{
//         font-size: $name-size-mobile;
//       }
//     }
// }
