
body {
    background: $white;
    font: $text-size $text-font;
    color: $black;
    letter-spacing: 2px;
    -webkit-font-smoothing: antialiased; // Fix for webkit rendering
    -webkit-text-size-adjust: 100%;
}




html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }


img {
    max-width: 100%!important;
    height: auto;
    vertical-align: middle;
}



#token{display:none}


.custom-control-input{
  opacity:0;
}


@import url(//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css);

input{
  font-family: $text-font;
  font-size: 25px;
  text-transform: uppercase;
  text-align:center;
}

input[type=radio]{
  display: none;
  margin: 55px;
  border: 0;
  overflow: hidden;
  padding: 0;
  // position: absolute;
}

// input[type=radio] ~  div{
//   background-color: white;
//   display: inline-block;
//   width: 40px;
//   height: 40px;
// }

input[type=radio] ~ label:before {
  font-family: arial;
  font-size: 45px;
  width: 55px;
  content: "\2586"; /* Radio Unchecked */
    color: $white;

}

input[type=radio]:checked ~ label:before{
  font-family: FontAwesome;
  font-size: 35px;
  content: "\f00c"; /* Radio Checked */
  color: $white;
  background-color: $blue;
}


.radio{
  width:auto;
  height: 75px;
  margin: 20px 30px;
}

.radio label{
  font-size: 40px;
  line-height: 110%;
  color: $white;
  font-family: $titling-font;
  text-transform: lowercase;
  position: absolute;
}

input[type=submit] {
  font-family: FontAwesome;
  font-size: 60px;
  transform: rotate(30deg) ;
  content: "\f1d8";
  color:$white;
  background-color: $blue;
  border:none;
  margin:auto;
}

fieldset{
  text-align:center;
}
fieldset.alignleft{
  text-align:left;
  width: 100%;
  margin-left: 0px;
}


.inlineblock {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
}


// CSS bidi shim from
// http://www.w3.org/International/articles/inline-bidi-markup/#cssshim
[dir='ltr'], [dir='rtl'] {
    unicode-bidi: -webkit-isolate;
    unicode-bidi: -moz-isolate;
    unicode-bidi: -ms-isolate;
    unicode-bidi: isolate;
}
bdo[dir='ltr'], bdo[dir='rtl'] {
    unicode-bidi: bidi-override;
    unicode-bidi: -webkit-isolate-override;
    unicode-bidi: -moz-isolate-override;
    unicode-bidi: -ms-isolate-override;
    unicode-bidi: isolate-override;
}
[dir='rtl'] { font-family: $hebrew-font; }


@include fontsizes($heading-sizes);
h1, h2, h3, h4, h5, h6{
    font-family: $titling-font;
    text-transform: lowercase;
    letter-spacing: 0px;
    font-weight: 300;
    a { font-weight: inherit; }
}


em {
  font-style: italic;
}

strong { font-weight: 900;
  //font-size: 110%;
  letter-spacing: 3px; }

small { font-size: 80%; }

.close{
  letter-spacing:0px;
}

.note{
  //text-transform: none;
  text-align: justify;
  font-size: 80%;
}

p { margin: 0 0 20px 0;
    //padding: 0 10px;
    img { margin: 0; }

}

/*
h1, h2 {
  font-family: 'Allura', cursive;
}

h3, h4, p{
font-family: 'Montserrat', sans-serif;

}*/


a, a:visited { text-decoration: none; outline: 0; }
a:hover, a:focus { }
p a, p a:visited { line-height: inherit; }


blockquote {
    // @include push(1);
    // @include pull(1);
    border-left: none;
    width: 100%;
    text-align: justify;
    left:-25px;
    cite { display: block; font-size: 12px; color: #555;
        a, a:visited { color: #555 }
    }
    cite:before { content: "\2014 \0020"; }
    p { margin-left: 20px; color: inherit; font-style: italic; }
}


hr {
    border-width: 1px 0 0;
    border-style: solid;
    clear: both;
    height: 0;
    margin-top: 60px;
    margin-bottom: 60px;
    @include push(1);
    @include pull(1);
}


// List formatting
ul, ol {
    margin-bottom: 0px;
    margin-left: 0px;
    padding-left: 17px;
    + p { padding-top: 12px; }
}
ul ul, ul ol, ol ul, ol ol { padding-left: 17px; }
ul { list-style: none outside; }
ol { list-style: decimal outside;
    ol { list-style: lower-alpha outside;
        ol { list-style: lower-roman outside; }
    }
}
ul { list-style: circle outside;
    ul { list-style: disc outside;
        ul { list-style: square outside; }
    }
}


li { margin-left: inherit; padding-left: 5px; }


// @each $title, $colors in zip($posts, $colorlists) {
//     @include post-colors($title, nth($colors, 1),
//                                  nth($colors, 2),
//                                  nth($colors, 3))
// }


.landing {
    padding-top: -0vh !important;
    background: white;
    background-size: cover;
    min-height: 100vh;
    top: -50px;
    article {
        @include column(2);
        @include push(3);
        color: $magenta;
    }
    z-index: 110;
}


$navborder-active: 2 * $navborder;


nav {
    font-size: 15px;
    font-weight: bold;
    width: 100%;
    position: sticky;
    z-index: 100;
    top: 0;
    left: 0;
    background: $white;
    text-transform: uppercase;
    ul {
        list-style: none;
        text-align: center;
        padding: 0;
        margin: 0;
        li {
            display: inline-block;
            border-top: $navborder solid;
            padding: $navborder 0;
            zoom: 1;
            line-height: normal;
            line-height: 50px;
            margin: 0px 50px;
            a, a:visited {
                display: block;
                color: $black;
                text-decoration: none;
            }
            a:hover { opacity: 1;
                      text-shadow: 0 0 4px transparentize($white, 0.8)}
        }
        li:hover, li.active {
            border-top-width: $navborder-active;
            padding-top: 0;
        }
    }
}


section { // defines a block of post material (including the divider).
    @include row();
    margin: auto;
    margin-top: 125px;
    position: relative;
    width: 80%;
    h1:first-of-type {//title
      font-size: 150%;
      position:absolute;
      top: -50px;
      left:0px;
      text-transform: capitalize;
      //text-shadow: 1px 1px 0px $white;
    }
    i{
      color:black;
    }
    .accent1 {
        background-color: $color1 !important; color: $color1text;
        a { color: $color1text; }
        h2, h3, h4, h5, h6 { color: $color1text; }
        h1 {color:$color1}
        hr { border-color: $color1text; }
        blockquote { border-left-color: $color1text; }
    }
    .accent3 {
        background-color: $color3 !important; color: $color3text;
        a { color: $color3text; }
        h2, h3, h4, h5, h6 { color: $color3text; }
        h1 {color:$color3}
        hr { border-color: $color3text; }
        blockquote { border-left-color: $color3text; }
    }
    .accent2 {
        background-color: $color2 !important; color: $color2text;
        a { color: $color2text; }
        h2, h3, h4, h5, h6 { color: $color2text; }
        h1 {color:$color2}
        hr { border-color: $color2text; }
        blockquote { border-left-color: $color2text; }
    }
    article { // wraps the actual content.
        // @include column(3);
        // @include push(1); // for some reason push needs to come after column
        // @include pull(1);
        padding: 50px 50px;
        margin: auto;
        word-wrap: break-word;
        width: 77ex;
        h1, h2, h3, h4, h5, h6 {
            margin-top: 20px;
            text-align: center;
            padding: 0 0px;
            text-transform: uppercase;
        }
        p{
          width: 67ex;
        }

        aside { // wraps marginalia.
            @include column(1);
            position: absolute;
            display: inline;
            top: auto;
            right: 0;
            p, p:first-of-type {
                font-style: italic;
                font-size: 80%;
                text-align: left;
            }
            p:first-of-type { margin-top: 0; }
            // This needs to be thought out better.
            // &.hebrew { left: 0; text-align: right; }
        }
    }
}

.wide {
    margin:auto;
    width: 100%;
    article{
      width: 90%;
    }
    h1:first-of-type {//title
      font-size: 300%;
      position:absolute;
      top: -50px;
      left:20%;
      text-transform: capitalize;
      //text-shadow: 1px 1px 0px $white;
      text-align:center;
    }
}

.front {
    margin:auto;
    width: 100%;
    article{
      width: 80%;
      height: 500px;
    }
    h1:first-of-type {//title
      font-size: 300%;
      color: #FFF;
      position:absolute;
      top: 50%;
      left: 100px;
      text-transform: uppercase;
      text-align:center;
      -webkit-transform: rotate(-90deg);
    -moz-transform:    rotate(-90deg);
    -ms-transform:     rotate(-90deg);
    -o-transform:      rotate(-90deg);
    }
}


.right {
    margin-right:$sm-pad;
    width: $sm-width;
}


h2.right{
  text-align:right;
}

.left {
    margin-left: $sm-pad;
    width: $sm-width;
}

section:first-of-type {
  margin-top:30px;
}

footer {
    min-height: 0;
    background-image:none;
    p, p:first-of-type {
        font-size: 14px;
        margin: 0;
        color: $black;
        text-align: center;
    }
    a {
        color: $black;
    }
    h3{
        padding: 100px 0;
      text-align: center;
      color: black;
    }
}



.subtlecircle {
    text-align: center;
    z-index: 3;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    background-color: transparentize($white, 0.8);
}


.sectiondivider {
    @include column(5);
    width: 270px;
    height: 270px;
    padding: 15px;
    position: absolute;
    top: -135px;
    left: 50%;
    margin-left: -135px;
    img {
        width: 200px;
        height: 240px;
        position: static;
        margin-top: -20px;
    }
    .fa-stack { font-size: 130px; position: static; margin-top: -8px; }
    .fa-circle { color: $white; }
    h5 {
        text-transform: lowercase;
        position: absolute;
        bottom: 50px;
        text-align: center;
        display: block;
        z-index: 6;
        width: 240px;
    }
    .imaged { text-shadow: 1px 1px 3px #333; }
}


@media only screen and (max-width: 767px) {
    section {
        article {
            @include column(5);
            aside {
                position: relative;
                @include column(5);
                p, p:first-of-type { text-align: justify; }
            }
        }
    }
}


@media screen and (max-width: 720px) {
    @include fontsizes($mobile-heading-sizes);
    hr { margin-top: 30px; margin-bottom: 30px; @include column(5); }
    blockquote { @include push(1); @include pull(0);
        border-left: 0 none;
        p { margin-left: 0; padding-left: 0 }
    }


    $mobile-navborder-active: 2 * $mobile-navborder;
    nav {
      z-index: 1000;
        font-size: 14px;
        ul {
            li {
                min-width: 60px;
                line-height: 30px;
                border-top: $mobile-navborder solid;
                padding: $mobile-navborder 0;
            }
            li:hover, li.active { border-top-width: $mobile-navborder-active; }
        }
    }

    .target{
      height: 120px;
    }
    .landing {
        padding-top: 0px !important;
        // background-size: cover;
        // height:100%;
        article {
            @include pull(1);
            @include column(4);
        }
    }

    section{
      margin-top:80px;
      padding: 25px 25px;
      h2:first-of-type {//title
        position:absolute;
        top: -35px;
      }
    }
    .right {
        margin-right:$sm-pad-mobile;
        width: $sm-width-mobile;
    }

    .left {
        margin-left: $sm-pad-mobile;
        width: $sm-width-mobile;
    }
}
