
body {
    background: $white;
    font: $text-size $text-font;
    color: $black;
    letter-spacing: 2px;
    -webkit-font-smoothing: antialiased; // Fix for webkit rendering
    -webkit-text-size-adjust: 100%;
}

main.blog{
  margin-left:200px;
}

main.plain{
  width: 80ex;
  margin: auto;
  p {
    display: inline-block;
    min-width: 30%;
  }
}




html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }


img {
    max-width: 100%!important;
    height: auto;
    vertical-align: middle;
}

header{
  margin:auto;
  width: fit-content;
  text-align: center;
  h1{
    padding-top: 1.5ex;
    font-size: $name-size;
    text-transform: capitalize;
    line-height: 80% !important;
  }
  a{
    color: inherit;
  }
  p {
    display: inline-block;
    width: 25%;
    padding-bottom: 1ex;
  }
  i{
    margin-right: .5ex;
  }
}



// header.plain::after{
//   width:fit-content;
// }

p.article-foot{
  display: inline-block;
  width: 24%;
  text-align: center;
  text-transform: uppercase;
  font-size: 90%;
}

p.article-top{
  display: inline-block;
  width: 30%;
  text-align: right;
  text-transform: uppercase;
  font-size: 90%;
}

// p.article-foot:first-of-type{
//   text-align: left;
// }

.pagenote{
  text-transform: lowercase;
  font-style: italic;
}

#token{display:none}


.custom-control-input{
  opacity:0;
}


/* expansions for biography minis */
summary::-webkit-details-marker {
  display: none
}
details[open] i{
  display:none;
}

input{
  font-family: $text-font;
  font-size: 25px;
  text-transform: uppercase;
  text-align:center;
}

input[type=radio]{
  display: none;
  margin: 55px;
  border: 0;
  overflow: hidden;
  padding: 0;
  // position: absolute;
}

// input[type=radio] ~  div{
//   background-color: white;
//   display: inline-block;
//   width: 40px;
//   height: 40px;
// }

input[type=radio] ~ label:before {
  font-family: arial;
  font-size: 45px;
  width: 55px;
  content: "\2586"; /* Radio Unchecked */
    color: $white;

}

input[type=radio]:checked ~ label:before{
  font-family: FontAwesome;
  font-size: 35px;
  content: "\f00c"; /* Radio Checked */
  color: $white;
  background-color: $blue;
}


.radio{
  width:auto;
  height: 75px;
  margin: 20px 30px;
}

.radio label{
  font-size: 40px;
  line-height: 110%;
  color: $white;
  font-family: $titling-font;
  text-transform: lowercase;
  position: absolute;
}

input[type=submit] {
  font-family: FontAwesome;
  font-size: 60px;
  transform: rotate(30deg) ;
  content: "\f1d8";
  color:$white;
  background-color: $blue;
  border:none;
  margin:auto;
}

fieldset{
  text-align:center;
}
fieldset.alignleft{
  text-align:left;
  width: 100%;
  margin-left: 0px;
}


.inlineblock {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
}


// CSS bidi shim from
// http://www.w3.org/International/articles/inline-bidi-markup/#cssshim
[dir='ltr'], [dir='rtl'] {
    unicode-bidi: -webkit-isolate;
    unicode-bidi: -moz-isolate;
    unicode-bidi: -ms-isolate;
    unicode-bidi: isolate;
}
bdo[dir='ltr'], bdo[dir='rtl'] {
    unicode-bidi: bidi-override;
    unicode-bidi: -webkit-isolate-override;
    unicode-bidi: -moz-isolate-override;
    unicode-bidi: -ms-isolate-override;
    unicode-bidi: isolate-override;
}
[dir='rtl'] { font-family: $hebrew-font; }


@include fontsizes($heading-sizes);
h1, h2, h3, h4, h5, h6{
    font-family: $titling-font;
    text-transform: lowercase;
    letter-spacing: 0px;
    font-weight: 300;
    a { font-weight: inherit; }
}


em {
  font-style: italic;
}

strong { font-weight: 900;
  //font-size: 110%;
  letter-spacing: 3px; }

small { font-size: 80%; }

.close{
  letter-spacing:0px;
}

.note{
  //text-transform: none;
  text-align: justify;
  font-size: 80%;
}

p { margin: 0 0 20px 0;
    //padding: 0 10px;
    img { margin: 0; }
}

/*
h1, h2 {
  font-family: 'Allura', cursive;
}

h3, h4, p{
font-family: 'Montserrat', sans-serif;

}*/


a, a:visited { text-decoration: none; outline: 0; }
a:hover, a:focus { }
p a, p a:visited { line-height: inherit; }


blockquote {
    // @include push(1);
    // @include pull(1);
    border-left: none;
    width: 100%;
    text-align: justify;
    left:-25px;
    cite { display: block; font-size: 12px; color: #555;
        a, a:visited { color: #555 }
    }
    cite:before { content: "\2014 \0020"; }
    p { margin-left: 20px; color: inherit; font-style: italic; }
}


hr {
    border-width: 1px 0 0;
    border-style: solid;
    clear: both;
    height: 0;
    margin-top: 5px;
    margin-bottom: 5px;

}


// List formatting
ul, ol {
    margin-bottom: 0px;
    margin-left: 0px;
    padding-left: 17px;
    + p { padding-top: 12px; }
}
ul ul, ul ol, ol ul, ol ol { padding-left: 17px; }
ul { list-style: none outside; }
ol { list-style: decimal outside;
    ol { list-style: lower-alpha outside;
        ol { list-style: lower-roman outside; }
    }
}
ul { list-style: circle outside;
    ul { list-style: disc outside;
        ul { list-style: square outside; }
    }
}


li { margin-left: inherit; padding-left: 5px; }


// @each $title, $colors in zip($posts, $colorlists) {
//     @include post-colors($title, nth($colors, 1),
//                                  nth($colors, 2),
//                                  nth($colors, 3))
// }


.landing {
    padding-top: -0vh !important;
    //background: white;
    //background-size: cover;
    //min-height: 100vh;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}




$navborder-active: 2 * $navborder;


nav {
    font-size: 15px;
    font-weight: bold;
    width: 100%;
    position: sticky;
    z-index: 100;
    top: 0;
    left: 0;
    background: $white;
    text-transform: uppercase;
    ul {
        list-style: none;
        text-align: center;
        padding: 0;
        margin: 0;
        li {
            display: inline-block;
            border-top: $navborder solid;
            padding: $navborder 0;
            zoom: 1;
            line-height: normal;
            line-height: $nav-height;
            margin: 0px 30px;
            a, a:visited {
                display: block;
                color: $black;
                text-decoration: none;
            }
            a:hover { opacity: 1;
                      text-shadow: 0 0 4px transparentize($white, 0.8)}
        }
        li:hover, li.active {
            border-top-width: $navborder-active;
            padding-top: 0;
        }
    }
}

.sidenav{
  position:sticky;
  top:  $nav-height + $navborder-active;
  left: 0px;
  width:200px;
  float: left;
  ul{
    text-align: left;
    li{
      display:block;
      margin: 0px;
    }
  }
}


section { // defines a block of post material (including the divider).
    @include row();
    margin: auto;
    margin-top: 125px;
    position: relative;
    width: 80%;
    h1:first-of-type {//title
      font-size: 200%;
      position:absolute;
      top: -30px;
      left:0px;
      text-transform: capitalize;
      //text-shadow: 1px 1px 0px $white;
      a {
        color:inherit;
      }
    }
    i{
      color:black;
    }

    aside { // wraps marginalia.
      // @include column(1);
      position: absolute;
      display: inline-block;
      top: auto;
      right: 0;
  }
}

article { // wraps the actual content.
  // @include column(3);
  // @include push(1); // for some reason push needs to come after column
  // @include pull(1);
  padding: 50px 50px;
  display: inline-block;
  margin: auto;
  word-wrap: break-word;
  width: $par-line-length;
  h1, h2, h3, h4, h5, h6 {
      margin-top: 20px;
      text-align: center;
      padding: 0 0px;
      text-transform: uppercase;
  }
  p{
    width: 67ex;
  }
  hr{
    border: 0px;
    padding: 10px;
  }
  a{
    color:inherit;
    font-weight: bold;
  }
}

.accent1 {
    background-color: $color1 !important; color: $color1text;
    a { color: $color1text; }
    h2, h3, h4, h5, h6 { color: $color1text; }
    h1 {color:$color1}
    hr { border-color: $color1text; }
    blockquote { border-left-color: $color1text; }
}
.accent3 {
    background-color: $color3 !important; color: $color3text;
    a { color: $color3text; }
    h2, h3, h4, h5, h6 { color: $color3text; }
    h1 {color:$color3}
    hr { border-color: $color3text; }
    blockquote { border-left-color: $color3text; }
}
.accent2 {
    background-color: $color2 !important; color: $color2text;
    a { color: $color2text; }
    h2, h3, h4, h5, h6 { color: $color2text; }
    h1 {color:$color2}
    hr { border-color: $color2text; }
    blockquote { border-left-color: $color2text; }
}

.wide {
    margin:auto;
    width: 90%;
    article{
      width: 90%;
    }
    h1:first-of-type {//title
      font-size: 300%;
      position:absolute;
      top: 0px;
      left:20%;
      text-transform: capitalize;
      //text-shadow: 1px 1px 0px $white;
      text-align:center;
    }
}

.front {
    margin: 50px auto;
    width: 90%;
    article{
      width: 80%;
      padding: 100px 50px 50px 100px;
      display : inline-block;
    }
    aside{
      width: 20%;
      display : inline-block;
    }
    h1:first-of-type {//title
      font-size: 300%;
      color: #FFF;
      position:absolute;
      top: 50px;
      text-transform: uppercase;
      text-align:center;
      transform: rotate(-30deg);
      transform-origin: 50% 50%;
    //   -webkit-transform: rotate(-90deg);
    // -moz-transform:    rotate(-90deg);
    // -ms-transform:     rotate(-90deg);
    // -o-transform:      rotate(-90deg);
    }
}

.extra{
  padding: 50px 0px;
  display:inline-block;
  width: 20%;
  text-transform: uppercase;
  li{
    padding:10px;
  }
}



.right {
    margin-right:$sm-pad;
    width: $sm-width;
}


h2.right{
  text-align:right;
}

.left {
    margin-left: $sm-pad;
    width: $sm-width;
}

section:first-of-type {
  margin-top:30px;
}

section.titled{
  min-width: fit-content !important;
  h1{
    position: sticky;
    top: $nav-height+ $navborder-active;
    background-color: $white;
  }
}


footer {
    width: 100%;
    // position: absolute;
    // bottom:0px;
    text-align: center;
    min-height: 0;
    background-image:none;
    font-family: $mono-font;
    p, p:first-of-type {
        font-size: 14px;
        margin: 0;
        color: $black;
        text-align: center;
    }
    a {
        color: $black;
    }
    h3{
      padding: 100px 0;
      text-align: center;
      color: black;
    }
}



.subtlecircle {
    text-align: center;
    z-index: 3;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    background-color: transparentize($white, 0.8);
}


.sectiondivider {
    @include column(5);
    width: 270px;
    height: 270px;
    padding: 15px;
    position: absolute;
    top: -135px;
    left: 50%;
    margin-left: -135px;
    img {
        width: 200px;
        height: 240px;
        position: static;
        margin-top: -20px;
    }
    .fa-stack { font-size: 130px; position: static; margin-top: -8px; }
    .fa-circle { color: $white; }
    h5 {
        text-transform: lowercase;
        position: absolute;
        bottom: 50px;
        text-align: center;
        display: block;
        z-index: 6;
        width: 240px;
    }
    .imaged { text-shadow: 1px 1px 3px #333; }
}


@media only screen and (max-width: 767px) {
    section {
        article {
          width:100%;
          display:block;
          padding: 10px;
        }

        aside {
            position: relative;
            display:block;
            width: inherit;
            p, p:first-of-type { text-align: justify; }
        }
    }
    header{
      margin:auto;
      width: fit-content;
      h1{
        font-size: $name-size-mobile;
      }
    }
}


@media screen and (max-width: 720px) {
    @include fontsizes($mobile-heading-sizes);
    hr {
      margin-top: 30px;
       margin-bottom: 30px; }
    blockquote { @include push(1); @include pull(0);
        border-left: 0 none;
        p { margin-left: 0; padding-left: 0 }
    }
    $mobile-navborder-active: 2 * $mobile-navborder;
    nav {
      z-index: 1000;
        font-size: 14px;
        ul {
            li {
                min-width: 60px;
                line-height: 30px;
                border-top: $mobile-navborder solid;
                padding: $mobile-navborder 0;
            }
            li:hover, li.active { border-top-width: $mobile-navborder-active; }
        }
    }

    .target{
      height: 120px;
    }

    section{
      margin-top:80px;
      padding: 25px 0px;
      h1:first-of-type {//title
        position:absolute;
        top: -35px;
      }
      article {
        width:100% !important;
        display:block;
        padding: 100px 5% !important;
        text-align: justify;
        p{
          width: inherit !important;
        }
      }
      aside {
          position: relative;
          display:block;
          width: inherit;
          p, p:first-of-type { text-align: justify; }
      }
    }
    .right {
        margin-right:$sm-pad-mobile;
        width: $sm-width-mobile;
    }

    .left {
        margin-left: $sm-pad-mobile;
        width: $sm-width-mobile;
    }

    header{
      margin:auto;
      width: fit-content;
      h1{
        font-size: $name-size-mobile;
      }
    }
}
