---
layout: page
---

<!--
<article class="pagenote">
{{content| markdownify}}
</article>

-->

{{content}}

{% for post in site.categories[page.category] %}

    <section class="" >
      <h2><a class="post-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>

         <article class="post-meta">


           <p class="article-top"></p>
           <!-- <p class="article-top">
             {% unless post.categories contains "news" %}
              <a href="{{ post.url | absolute_url }}">
              full text
              </a>
              {% endunless %}
           </p> -->
           <p class="article-top">
             {{ post.date | date: "%-m/%-d/%y"}}
           </p>


           <p>{{ post.excerpt | markdownify }}</p>

        </article>


    </section>


{% endfor %}
