---
layout: main
---

<!--
<article class="pagenote">
{{content| markdownify}}
</article>

-->
{% for post in site.categories[page.category] %}

    <section class="" >
      <h1><a href="{{ post.url | absolute_url }}">
        {{ post.title }}
      </a></h1>

         <article class="{% cycle 'accent1', 'accent2', 'accent3'  %}">


           <p class="article-top"></p>
           <p class="article-top">
             {% unless post.categories contains "news" %}
              <a href="{{ post.url | absolute_url }}">
              full text
              </a>
              {% endunless %}
           </p>
           <p class="article-top">
             {{ post.date | date: "%-m/%-d/%y"}}
           </p>


           <p>{{ post.excerpt }}</p>

        </article>


    </section>


{% endfor %}
