---
layout: main
---

<section class="wide">

{% assign top = site.academic | where:"itemdata", page.itemdata | first %}

<article>
{{top.content| markdownify}}
</article>
</section>


{% assign currcoll = site.documents | where:"collection", page.itemdata | sort: 'date' %}
{% for item in currcoll reversed%}
    {% capture id %}{{ item.id }}{% endcapture %}
    {% unless id contains "index" %}
    <section class="{% cycle 'accent1', 'accent2', 'accent3'  %} titled " >
        <h1> {{item.title}} </h1>
         <article class="">

        {{ item.content | markdownify}}

        </article>
        {% if item.gallery%}
        <aside class="gallery">

        <!---<p class="article-foot"> Items</p>--->
          {% for content in item.gallery%}
            <p>
              <a href="{{content[1]}}">
              <i class="fa-{{content[0]}}"></i>
            </a>
            </p>

          {%endfor %}
        </aside>
        {% endif %}



    </section>
    {% endunless %}
  {% endfor %}
