---
layout: main
---

<section class="wide">

{% assign top = site.academic | where:"itemdata", page.itemdata | first %}

<article>
{{top.content| markdownify}}
</article>
</section>


{% assign currcoll = site.documents | where:"collection", page.itemdata | sort: 'date' %}
{% for item in currcoll reversed%}
    {% capture id %}{{ item.id }}{% endcapture %}
    {% unless id contains "index" %}
    <section class="{% cycle 'left', 'right' %} " >
        <h1> {{item.title}} </h1>
         <article class="{% cycle 'accent1', 'accent2', 'accent3'  %}">

        {{ item.content }}

        {% if item.gallery%}
        <hr>
        <!---<p class="article-foot"> Items</p>--->
          {% for content in item.gallery%}
            <p class="gallery">
              <a href="{{content[1]}}">
              <i class="fa-{{content[0]}}"></i>
            </a>
            </p>

          {%endfor %}

        {% endif %}
        </article>


    </section>
    {% endunless %}
  {% endfor %}
