---
layout: main
---

<section class="wide">

{% assign top = site.academic | where:"itemdata", page.itemdata | first %}
<h1> {{top.display}} </h1>
<article>
{{top.content| markdownify}}
</article>
</section>


{% assign currcoll = site.documents | where:"collection", page.collection | sort: 'date' %}
{% for item in currcoll reversed%}
    {% capture id %}{{ item.id }}{% endcapture %}
    {% unless id contains "index" %}
    <section class="{% cycle 'left', 'right' %} " >
        <h1> {{item.title}} </h1>
         <article class="{% cycle 'accent1', 'accent2', 'accent3'  %}">

        {{ item.content }}
        </article>


    </section>
    {% endunless %}
  {% endfor %}
