---
layout: default
---

<body {%if page.landing %}class="landing" {%endif%}>
  <header>
    <h1><a href="{{site.baseurl}}/">{{site.name}}</a></h1>
    {% if page.social %}
      {% include {{page.social}}.html %}
    {% endif %}
  </header>
  {% unless page.type contains "plain" %}
    {% include mainnav.html %}
  {% endunless %}

  {% if page.type contains "blog" %}
    {% include blognav.html %}
  {% endif %}

  <main class="{{page.type}}">

     {{ content}}

  </main>

  {% unless page.type contains "plain" %}
  <footer>
          {% capture foottext %} {% include footer.md %} {% endcapture %}
          {{ foottext | markdownify }}
  </footer>
  {% endunless %}
</body>
